@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i');

body{
background-color:$background-color;
font-size:16px;
font-family:$main-font;

}
.logo{
    transition: all .5s ease-out;
}

.list{
    list-style:none;
    p{
        color:$body-color;
        line-height:20px;
        margin-left:2%;
        margin-right:2%;
        margin-bottom:2%;
        margin-top:2%;
   
        }
}
.news-sections{
    @include desktop{
    text-align:left;
    padding-left:70px;

    }
}
#news-sections{
    font-size:1.1rem;
}
.choose-section{
    color:$body-color;
}
.bkimg{
    height:420px;
    position:relative;
    background:no-repeat;
    background-position:50%;
    background-size:cover;
    .abstract{
        position:absolute;
        bottom:0;
        background-color:$background-text-color;
        width:100%;
        text-align:left;
<<<<<<< HEAD
        

    }
}



=======

        
    }
}
>>>>>>> c0a2626f2fca21545f7385117cdb2dd92fdf1c17
.loading{
    width:100px;
    margin: 0 auto;
    img{
        width:100%;
    }
}




