.footer{
    text-align:center;
    
        .copyright{
            padding:2rem;
            color:$footer-color;
            span{
                text-transform:uppercase;
            }
        }
        
    
    
        @include desktop{
    text-align:left;
    padding-left:50px;
        
    }
    }