.footer{
    text-align:center;
    text-transform:uppercase;
        .copyright{
            padding:2rem;
            color:#c2c2c2;
        }

    @include desktop{
    text-align:left;

        
    }
    }