.footer{
    text-align:center;
    
        .copyright{
            padding:2rem;
<<<<<<< HEAD
            color:#c2c2c2;
=======
            color:$footer-color;
            span{
                text-transform:uppercase;
            }
>>>>>>> c0a2626f2fca21545f7385117cdb2dd92fdf1c17
        }
        
    
    
        @include desktop{
    text-align:left;
    padding-left:50px;
        
    }
    }