.site-header{
    display:flex;
    height:90vh;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    .logo{
        text-align:center;
        margin-bottom:20px;
    }
   .news-sections{
       text-align:center;
       width:100%;

       .choose-section{
           margin-bottom:20px;
       }
   }
   @include tablet{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:row;
    padding:2em;
    height:600px;
   }
   .news-sections{
       text-align:center;
       width:200px;
   }
   @include desktop{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:row;
    padding:2em;
    height:600px;
   }
   .news-sections{
       text-align:center;
       width:200px;
   }
}
.newHeader{
    display:flex;
    height:270px;

    .logo{
        margin-bottom:20px;
        width:150px;
    }
    @include tablet{
       height:100px;
       
    .logo{
        width:70px;
        margin-bottom:0;
    }
  
    }
}